/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color:var(--bg-page);
  /* color: var(--color-text); */
}

a,
a:link,
a:visited {
  color: var(--color-accent, #253017);
}
