.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background-color: var(--bg-main);
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  
}

.item {
  position: relative;
  cursor: pointer;
  display: grid;

  grid-template-columns:
    minmax(0, 1.5fr)
    minmax(0, 2fr)
    minmax(0, 2.5fr)
    minmax(0, 2.5fr)
    minmax(0, 1.5fr);
  gap: 16px;
  width: 100%;
  border-bottom: 0.5px solid var(--border-special);
  border-radius: 2px;
  transition: all 0.3s ease;
  font-family: var(--font-family-inter);
  font-size: var(--fs-sm);
  padding-left: 10px;
  height:60px ;
}

.item:last-child{
  border: none;
}

.item:hover{
  background-color: var(--bg-hover);
}

.item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-accent);
  transition: width 0.2s ease;
}

.item:hover::before {
  width: 6px;
}


.item span{
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.span_date{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.span_duration{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.no_results {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: not-allowed;
  padding: 0 5px;
  height: 3.2rem;
  background-color: var(--bg-list-color);
  border-top: 2.5px solid var(--border-accent);
  border-bottom: 2.5px solid var(--border-accent);
  border-radius: 2px;
}
