.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  min-height: var(--button-height);
  padding: 0 var(--space-lg);
  border-radius: var(--radius-sm);
  border: 1px solid transparent;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  cursor: pointer;
  transition:
    background var(--transition-fast),
    border var(--transition-fast),
    color var(--transition-fast),
    box-shadow var(--transition-fast);
  background-color: var(--bg-button-accent);
  color: var(--color-text-for-accent); 
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--bg-button-disabled);
  color: var(--color-text-disabled);
}

.button:disabled:hover{
  background-color: var(--bg-button-disabled);
  color: var(--color-text-disabled);
}

.button:hover {
  background-color: var(--bg-button-accent-hover);
  color: var(--color-text);
}

.label {
  display: inline-flex;
  align-items: center;
}
