.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: var(--color-text);
  background-color: var(--bg-list-color);
  padding: 30px 20px;
  border-radius: 10px;
  font-family: var(--font-family-inter);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--color-text);
  font-size: 14px;
}

.input {
  height: 2.5rem;
  padding-left: 5px;
  border: 1px solid var(--border-accent);
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.2s ease;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border-color: var(--border-accent);
  box-shadow: 0 0 0 3px rgba(62, 122, 163, 0.1);
}

.input:hover{
  border-color: #999;
}

.input:required {
  border-left: 3px solid var(--border-accent);
}

.submitButton {
  height: 2.625rem;
  background-color: transparent;
  border:  1px solid var(--bg-button-accent);
  color: var(--color-text);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: var(--bg-button-accent);
}

.submitButton:active {
  transform: translateY(1px);
}

.photo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}

.choicePage {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
  background-color: var(--bg-button-accent);
  color: white;
  cursor: pointer;
}

.imagesPlace {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--border-accent);
  width: 100%;
  max-height: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



/* Сброс всех стилей браузера для input file */
.hiddenInput {
  /* Убираем стандартные стили */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.667rem;
  /* Прячем стандартную кнопку */
  &::-webkit-file-upload-button {
    background-color: transparent;
    border: none;
  }

  /* &::file-selector-button {
    display: none;
  } */

  /* Опционально: стили для области перетаскивания */
  width: 100%;
  cursor: pointer;
}
