
.filter_item{
  padding: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 20px;

}

.filter_item input{
  width: 100%;
  padding: 10px;
  background-color: #ECF0F1;
  margin-bottom: 10px;
  border:1px solid rgb(239, 239, 239);
  border-radius: 2px;
}