/* Убедитесь что все родительские элементы имеют height: 100% */
html, body, #root, .parent-container {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  padding: 0 5px;
  margin-top: 7px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.listName {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: #241c57;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-lg);
}

.line {
  background-color: #e2e2e2;
  height: 1px;
  width: 100%;
}
