/* Убедитесь что все родительские элементы имеют height: 100% */
html, body, #root, .parent-container {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-text);
  padding: 0 5px;
  margin-top: 7px;
  width: 100%;
  background-color: var(--bg-list-accent);
}

.listName {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-text-special);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-lg);
}

.line {
  background-color: var(--border-accent);
  height: 1px;
  width: 100%;
}
