.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: #333;

}

.required {
  color: #ff4444;
  margin-left: 2px;
}

.input {
  padding: 10px 16px;
  border-radius: 3px;
  font-size: var(--font-size-sm);
  transition: all 0.2s ease;
  background-color: var(--bg-input);
  width: 100%;
  height: 100%;;
  box-sizing: border-box;
  min-height: 39px;
  max-height: 39px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
  outline: 1px solid var(--color-accent);
}

.input:hover:not(:disabled):not(:focus) {
  border-color: #999;
}

.input.error {
  border-color: #ff4444;
}

.input.error:focus {
  border-color: #ff4444;
  box-shadow: 0 0 0 3px rgba(255, 68, 68, 0.1);
}

.input.disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: not-allowed;
}

.errorText {
  color: #ff4444;
  font-size: 12px;
  margin-top: 2px;
}