:root[data-theme='dark'] {
  /* Colors */
  --color-accent: #58a6ff;
  --color-accent-bright: #79c0ff;
  --color-icon: #d6d6d6;
  --color-svg-image: #c9d1d9;
  --color-text: #d5d5d5;
  --color-text-special: #bdbdbd;
  --color-text-link: #58a6ff;
  --color-caption: #8d96a0;
  --color-error: #ff9c8a;
  
  /* Background colors */
  --bg-logo: #0069d2;
  --bg-color: #0d1117;
  --bg-color-page: #152921;
  --bg-color-opacity: rgba(255, 255, 255, 0.08);
  --bg-list-color: #161f19;
  --bg-accent: #0069d2;
  --bg-special:#333333;
  
  /* Универсальные состояния для всех тегов */
  --bg-tag-hover: rgba(107, 197, 255, 0.15);
  --bg-tag-focus: rgba(107, 197, 255, 0.25);

  /* button */
  --bg-button: #21262d;
  --bg-button-active: #2d333b;
  --bg-button-hover: #282e36;
  --bg-button-focus: #323840;

  /* button-accent */
  --bg-button-accent: #23524b;
  --bg-button-accent-hover: #3e85cc;
  --bg-button-accent-active: #285b8c;
  --bg-button-accent-focus: #3275b7;

  /* Border colors */
  --border-button: #3275b7;
  --border-accent: #645b5b;
  --border-special: #3d444d;

  /* arrow */
  --bg-arrow: #2d333b;
  --bg-arrow-hover: #373d46;
  --bg-arrow-focus: #414852;

  /* message */
  --bg-massage: #1c2b3a;
  --bg-massage-hover: #223544;
  --bg-massage-focus: #283f4e;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(13, 17, 23, 0.6);
  --shadow-md: 0 4px 8px rgba(13, 17, 23, 0.5);
  --shadow-lg: 0 8px 16px rgba(13, 17, 23, 0.4);
  --shadow-xl: 0 16px 32px rgba(13, 17, 23, 0.3);
}
