/* Подключаем шрифт */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-size: 16px;
  /* Colors */
  /* New colors */
  --color-gray: #7b7b7b;
  /* ---------- */

  --color-accent: #3e7aa3;
  --color-accent-bright: #253017;
  --color-icon: black;
  --color-svg-image: black;
  --color-text-for-accent:#f8f8f8;
  --color-text: #0b1117;
  --color-base: #888888;
  --color-text-connector: #241c57;
  --color-text-link: #abb1bf;
  --color-text-warning: #ffa500;
  --color-error: #bf3920;
  --color-text-disabled: #9ca197;

  --color-text-special: rgb(31, 32, 46);

  /* Background colors */

  /* New Background colors */
  --bg-page: #e3e3e3;
  --bg-main: #ffffff;
  --bg-hover: #f4f4f4;
  --bg-input: #f4f4f4;
  --bg-connetctor-OK: #b0e0a3;
  --bg-connetctor-Charging: #fbd97a;
  --bg-connetctor-Error: #ff7477;
  /* ---------------------- */

  --bg-color: #f8f8f8;
  --bg-color-opacity: #8e8e8e;
  --bg-item-color: #ffffff;
  --bg-accent: #3e7aa3;
  --bg-special: #eff0ef;
  --bg-color-page: #f9faf7;
  --bg-list-color: #ffffff;
  /* button */
  --bg-button: #f5f7f9;
  --bg-button-active: #3e7aa3;
  --bg-button-hover: #274d68;
  --bg-button-focus: #3e7aa3;
  --bg-button-disabled: #e4e8df;

  /* button-accent" */
  --bg-button-accent: #3e7aa3;
  --bg-button-accent-active: #f5f7f9;
  --bg-button-accent-hover: #6562ff25;
  --bg-button-accent-focus: #f5f7f9;
  --bg-button-disabled: #e4e8df;

  /* Border colors */
  --border-button: #3275b7;
  --border-accent: #c9c9c9;
  --border-special: #c3c3c3;
  --border-disabled: #e4e8df;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.07);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.15);

  /* Border radius */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-2sm: 0.75rem;
  --space-md: 1rem;
  --space-2md: 1.25rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-2xl: 3rem;
  --space-3xl: 3.5rem;

  /* font families */
  --font-family-opensans: 'Open Sans SemiBold', sans-serif;
  --font-family-jost: 'Jost SemiBold', sans-serif;
  --font-family-roboto: 'Roboto Regular', sans-serif;
  --font-family-inter: 'Inter Regular', sans-serif;
  --font-family-poppins: 'Poppins Medium', sans-serif;
  /* Подключаем шрифт */

  /* font Weights */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  /* font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;

  /* font-size + */

  --fs-xs: clamp(12px, 0.9vw, 14px);
  --fs-sm: clamp(14px, 1.1vw, 16px);
  --fs-md: clamp(16px, 1.3vw, 18px);
  --fs-lg: clamp(20px, 1.6vw, 24px);

  /* Transitions */
  --transition-fast: 150ms ease-in-out;
  --transition-normal: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;

  /* buttons size */
  --button-height: 2.5rem;

  /* tags-size */
  --tag-height: 2rem;
  --tag-width: 8.375rem;

  /* modal-popup */
  --modal-width: 34.75rem;
  --modal-height: 26.25rem;

  /* modal-registration */
  --modal-registration-width: 90rem;
  --modal-registration-height: 64rem;

  /* modal-inputs */
  --modal-input: 3rem;

  /* Layout */
  --header-height: 6.5rem;
  --footer-height: 14.5rem;

  /* sidebar(tags-menu) */
  --sidebar-width: 20.25rem;

  /* drop-container */
  --container-max-width: 71rem;
  --container-max-height: 65rem;
}

/* Адаптив для планшетов */
@media (max-width: 768px) {
  :root {
    font-size: 15px;
  }
}

/* Адаптив для мобильных */
@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}
