.app {
  min-height: 100vh;
  font-family: var(--font-family-regular);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  width: 100%; 
  color: var(--color-text);
  padding: 25px 20px;
  background-color: var(--bg-page);
}

