.app {
  min-height: 100vh;
  background-color: #F8F8F8;
  /* color: var(--color-text); */
  font-family: var(--font-family-regular);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  width: 100%; 
  color: black;
  padding: 25px 20px;
  /* overflow-y: auto; убираем */
}

