.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.content_camera {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-list-color);
  padding: 10px;
  border-radius: 5px;
}

.content_events {
  min-width: 17rem;
  background-color: var(--bg-list-color);
  color: var(--color-text);
  margin-left: auto;
  border-radius: 5px;
}
