.container {
  display: flex;
  flex-direction: row;
}

.content_camera {
  width: 100%;
  padding: 1.56rem 3.75rem;
  display: flex;
  flex-direction: column;
}

.content_events {
  min-width: 17rem;
  background-color: white;
  margin-left: auto;
}
