.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: var(--color-text);
  background-color: var(--bg-list-color);
  padding: 30px 20px;
  border-radius: 10px;
  font-family: var(--font-family-inter);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  white-space: nowrap;
  color: var(--color-text);
  font-size: 14px;
}
.label span{
  color: red;
}

.input {
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.submitButton {
  height: 2.625rem;
  background-color: transparent;
  border: 1px solid var(--bg-button-accent);
  color: var(--color-text);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: var(--bg-button-accent);
}

.submitButton:active {
  transform: translateY(1px);
}

.photo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}

.imagesPlace {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--border-accent);
  width: 100%;
  max-height: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: ease 0.1s;
  cursor: pointer;
}

.imagesPlace:hover {
  background-color: var(--bg-button-accent-hover);
}

.hiddenInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Прячем стандартную кнопку */
  &::-webkit-file-upload-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::file-selector-button {
    display: none;
  }

  width: 100%;
  cursor: pointer;
}

.hiddenInput:hover {
  background-color: var(--bg-button-accent-active);
}

.choicePage {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: var(--radius-sm);
  font-size: 16px;
  transition: border-color 0.2s ease;
  cursor: pointer;
  min-height: var(--button-height);
  padding: 0 var(--space-lg);
  background-color: var(--bg-button-accent);
  color: var(--color-text-for-accent);
  border: 1px solid transparent;
  width: 100%;
  transition:
    background var(--transition-fast),
    border var(--transition-fast),
    color var(--transition-fast),
    box-shadow var(--transition-fast);
}

.choicePage:hover {
  background-color: var(--bg-button-accent-hover);
  color: var(--color-text);
}

.choicePage.hasPhoto::after {
  content: 'Фото выбрано';
}

.imagesPlace span {
  font-size: 60px;
  color: var(--border-accent);
  opacity: 0.9;
}
