.statin_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--color-text);
  border-radius: 2px;
}

.statin_list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  cursor: pointer;
  background-color: var(--bg-list-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 0 5px;
  border-top: 0.5px solid var(--border-accent);
  border-bottom: 0.5px solid var(--border-accent);
  border-radius: 2px;
  height: 3.2rem;
}

.statin_list li:hover {
  background-color: var(--bg-button-accent);
  color: white;
}

.statin_list li span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statin_filters {
  min-height: 7.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
  background-color: white;
  border-top: 0.5px solid var(--border-accent);
  border-bottom: 0.5px solid var(--border-accent);
  border-radius: 3px;
}
.statin_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--color-text);
  border-radius: 2px;
}

.statin_list li {
  cursor: pointer;
  background-color: var(--bg-list-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 0 5px;
  border-top: 0.5px solid var(--border-accent);
  border-bottom: 0.5px solid var(--border-accent);
  border-radius: 2px;
  height: 3.2rem;
  transition: all 0.3s ease;
}

.statin_list li span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statin_filters {
  min-height: 7.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
  background-color: var(--bg-list-color);
  border-top: 2.5px solid var(--border-accent);
  border-bottom: 2.5px solid var(--border-accent);
  border-radius: 3px;
}

.filter_item {
  padding: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 20px;
}

.filter_item input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 10px;
  border: 1px solid var(--border-accent);
  border-radius: 2px;
}

.no_results {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor:not-allowed;
  background-color: var(--bg-list-color);
  padding: 0 5px;
  height: 3.2rem;
  border-top: 2.5px solid var(--border-accent);
  border-bottom: 2.5px solid var(--border-accent);
  border-radius: 2px;
}
