.sidebar {
  width: 16rem;
  background-color: var(--bg-list-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
  height: 100%;
  z-index: 10;
  position: relative;
  box-shadow: 0 0 11px rgb(129, 129, 129);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 20px;
  overflow: hidden;
  /* position: fixed; */
}

.navItem:hover {
  background-color: var(--bg-hover);
}

.navItem:focus {
  color: var(--color-text);
  background-color: var(--bg-button-accent);
}

.navItem {
  font-family: var(--font-family-inter);
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 5px 10px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: inherit;
  position: relative;
  z-index: 0;
  gap: 5px;
}
.navItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-button-accent);
  transition: width 0.2s ease;
  z-index: 1;
}

.navItem:hover::before {
  width: 6px;
}

.navItem:active {
  background-color: var(--bg-hover);
}

.navItem:active::before {
  width: 6px;
}

.active {
  background-color: var(--bg-hover);
  color: var(--color-accent);
}

.active::before {
  width: 6px;
}
