.sidebar {
  width: 16rem;
  background-color: var(--bg-list-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0; /* не сжимается */
}


.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 20px;
  overflow: hidden;
}

.navItem:hover {
  color: #fff;
  background-color: var(--bg-button-accent);
  transform: translateX(2.5px);
}

.navItem:focus {
  color: #fff;
  background-color: var(--bg-button-accent);;
}

.navItemActive{
  color: #fff !important;
  background-color: var(--bg-button-accent);;
}

.navItem {
  font-family: var(--font-family-inter);
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 5px 10px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: inherit;
  position: relative;
  z-index: 0;
  gap: 5px;
}

.navItem::before {
  content: '';
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.navItem:hover::before {
  background-color: var(--bg-button-accent);;
  width: 5px;
  height: 30px;
  left: -20px;
  position: absolute;
}

/* Сдвиг самой кнопки */
.navItem:hover {
  transform: translateX(20px);
}
.support{
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #ABB1BF;
}