.sidebar {
  width: 16rem;
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0; /* не сжимается */
}


.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 20px;
  overflow: hidden;
}

.navItem:hover {
  color: #fff;
  background-color: #3E7AA3;
  transform: translateX(2.5px);
}

.navItem:focus {
  color: #fff;
  background-color: #3E7AA3;
}

.navItem {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 5px 10px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: inherit;
  position: relative;
  z-index: 0;
}

/* Квадрат по умолчанию (скрыт) */
.navItem::before {
  content: '';
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.navItem:hover::before {
  background-color: #3E7AA3;
  width: 5px;
  height: 30px;
  left: -10px;
  position: absolute;
}

/* Сдвиг самой кнопки */
.navItem:hover {
  transform: translateX(10px);
}
.support{
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #ABB1BF;
}