.connector {
  position: relative;
  height: 9.375rem;
  width: 30%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 11px rgb(129, 129, 129);
  transition: transform 0.3s ease; 
}

.connector:hover {
  transform: scale(1.015);
}

.connectors_list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.connector_image {
  position: relative;
  width: 150px;
  height: 140px;
  object-fit: contain;
  flex-shrink: 0; 
}

.connector_type {
  position: absolute;
  font-weight: var(--font-weight-semibold);
  filter: drop-shadow(-1px 3px 0.5px #1b1b1b1c);
  margin: 0;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  padding-left: 5px;
}

.connector_status {
  color: #666;
  padding: 2px 8px;
  border-radius: 12px;
}
