.info {
  margin-top: 25px;
  height: 15.625rem;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  gap: 30px;
  font-family: var(--font-family-inter);
}

.info_event {
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 10px;
  background-color: var(--bg-main);
  min-height: 10rem;
  box-shadow: 0 0 11px rgb(129, 129, 129);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  transition: transform 0.3s ease; 
  border-radius: 2px;
}

.list:hover {
  transform: scale(1.005);
}

.line {
  background-color: var(--border-accent);
  height: 1px;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item label {
  flex-shrink: 0;
}

.item span {
  flex-grow: 1;
}

.item button {
  margin-left: auto;
  flex-shrink: 0;
  padding: 5px 10px;
  background-color: var(--bg-button-accent);
  color: var(--color-text);
  border-radius: 2px;
  transition: var(--transition-normal);
  color: white;
}

.item button:hover {
  background-color: var(--bg-button-hover);
}
