.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  overflow: hidden;
  display: flex;
  margin: 25px 0 0 0;
  padding: 0;
}

.video{
   width: 100%;
}