.video {
  width: 100%;
  height: 690px;
  overflow-y: hidden;
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-inter);
  overflow: hidden;
}

.stream {
  display: flex;
  background-color: rgb(213, 213, 213);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
