.section {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  width: 100%;
  gap: 5px;
}

.video_content {
  background-color: black;
  min-height: 150px;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: ease 0.2s;
}

.video_content:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}
