.section {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    width: 100%;
    gap: 5px;
}

.video_content{
    background-color: black;
    min-height: 150px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: ease 0.2s;
}

.video_content:hover{
    opacity: 0.7;
}