.container {
  width: 100%; 
  color: black;
}

.stations_statistics {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;

}

